::-webkit-scrollbar {
    width: 0;
}
.table_sort th {
    cursor: pointer;
    -webkit-user-select: none;
}
th::before {
    content: "⇅";
}
a, a:active, a:hover {
    color: #212529;
    text-decoration: none;
}
h1:first-child::before {
    content: "🗘";
}
